
h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    color: #000000;
    margin-top: 200px;
    margin-bottom: 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
    animation: bounce 1s infinite;
}


@keyframes bounce {
    0%, 100% {
    transform: translateY(0) scaleY(1);
    }
    50% {
    transform: translateY(-50px) scaleY(0.8);
    }
}

.icon-images{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.map {
    animation: pulse 1s infinite
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.music{
    animation: pulse .5s infinite
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.7);
    }
    100% {
        transform: scale(1);
    }
    
}

.food {
    animation: pulse 2s infinite
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(.7);
    }
    100% {
        transform: scale(1);
    }
    
}

@media (max-width: 428px) {
    .icon-images{
        flex-wrap: wrap;
    }
    h1 {
        flex-wrap: wrap;
    }
}
  